@import url("../blocks/configurable_reports/js/datatables/media/css/jquery.dataTables.css");
@import url("../blocks/configurable_reports/js/codemirror/lib/codemirror.css");
@import url("../blocks/configurable_reports/js/codemirror/addon/display/fullscreen.css");

.dir-rtl .CodeMirror {
    direction: ltr;
    text-align: left;
}

/* Left align Custom SQL textarea and SQL help, in RTL mode.
*/
#page-blocks-configurable_reports-editreport.dir-rtl textarea,
#page-blocks-configurable_reports-editreport.dir-rtl .felement.fstatic {text-align: left;direction: ltr;}

/* Fix table header padding, to show "Sort" arrows
*/
#reportslist th.header {padding: 0 20px;}

/* Fix cell alignment in reports list table
*/
#page-blocks-configurable_reports-managereport .generaltable td.c5 {direction: ltr;}

/* Left align Setting INPUT TEXT boxes
*/
#page-admin-setting-blocksettingconfigurable_reports.dir-rtl .settingsform input[type=text],
#page-admin-setting-blocksettingconfigurable_reports.dir-rtl .settingsform input[type=password] {text-align: left;direction: ltr;}

/* Table usability & UI fixes
*/
#page-blocks-configurable_reports-viewreport .generaltable {
    border: 1px solid gray;
    margin: 0 auto;

}
#page-blocks-configurable_reports-viewreport #calcstable {
    width: 80%;
}

#page-blocks-configurable_reports-viewreport .generaltable th.header {
    background-color: #f5f5dc;
    border-bottom-width: 2px;
}

/* Center align bottom report statistics
*/
#page-blocks-configurable_reports-viewreport #totalrecords,
#page-blocks-configurable_reports-viewreport #lastexecutiontime {
    padding: 10px;
    text-align: center;
}

/* Convert "Add report" link to a beautiful button
    (Used: http://www.cssbuttongenerator.com/)
*/
.addbutton {text-align: center;}

.linkbutton {
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
    background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
    background-color:#bddbfa;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #528ecc;
}
.linkbutton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
    background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
    background-color:#80b5ea;
}.linkbutton:active {
     position:relative;
     top:1px;
 }

/**
 * Styling for first li assuming it is tiled and is the subtitle.
 */
.displaytiles .content li:first-child {
    margin: 0 0 30px;
}

/**
 * Stying for first li assuming it is tiled and is the subtitle for side-pre.
 */
.side-pre .displaytiles .content li:first-child {

}

/**
 * Styling for blocks in the side bit.
 */
#block-region-side-pre .block_configurable_reports.displaytiles .content ul li {
    float:      left;
    width:      100%;
    display:    block;
}

/**
 * Styling for tileability.
 */
.displaytiles .content li:not(:first-child) {
    background-color:   #CCC;
    min-width:          22%;
    height:             150px;
    text-align:         center;
    display:            inline-block;
    float:              left;
    width:              100%;
    margin:             0 0 15px;
    padding:            0;
    clear:              both;
}

.displaytiles .content li:not(:first-child) .column {
    width:      100%;
    display:    block;
}

.displaytiles .content li:not(:first-child) .tile.summarydata,
.displaytiles .content li:not(:first-child) .tile.reportname {
    text-overflow:  ellipsis;
    overflow:       hidden;
}

.displaytiles .content li:not(:first-child) .tile.summarydata {
    height: 60px;
}

/**
 * Report name styling.
 */
.displaytiles .tile.reportname {
    height:         70px;
    max-height:     70px;
    line-height:    70px;
    vertical-align: middle;
}

/**
 * Report summary data styling.
 */
.displaytiles .tile.summarydata {
    font-size:      40px;
    margin-top:     20px;
    line-height:    60px;
    vertical-align: middle;
}

@media only screen and (min-width: 600px) {
    .displaytiles .content li:not(:first-child) {
        float:          left;
        width:          49%;
        clear:          none;
        margin-right:   1.5%;
    }
    .displaytiles .content li:nth-child(2n + 1) {
        margin-right: 0;
    }
}

@media only screen and (min-width: 1025px) {
    .displaytiles .content li:not(:first-child) {
        float:          left;
        width:          24%;
        clear:          none;
        margin-right:   1.2%;
    }
    .displaytiles .content li:nth-child(4n + 1) {
        margin-right: 0;
    }
}