.yui3-datatable table {
	width: 100%;
}

.yui3-datatable th.header{
	background-image:url([[pix:block_configurable_reports|normal]]);
	background-position:right center;
	background-repeat:no-repeat;
	cursor:pointer;
}

.yui3-datatable th.yui3-datatable-asc{
	background-image:url([[pix:block_configurable_reports|asc]]);
}

.yui3-datatable th.yui3-datatable-desc{
	background-image:url([[pix:block_configurable_reports|desc]]);
}    