.yui3-datatable table {
	width: 100%;
}

.yui3-skin-sam th.yui3-datatable-sortable .yui3-datatable-liner{
	background-image:url([[pix:block_configurable_reports|normal]]);
	background-position:right center;
	background-repeat:no-repeat;
	cursor:pointer;
}

.yui3-skin-sam th.yui3-datatable-asc .yui3-datatable-liner{
	background-image:url([[pix:block_configurable_reports|asc]]);
}

.yui3-skin-sam th.yui3-datatable-desc .yui3-datatable-liner{
	background-image:url([[pix:block_configurable_reports|desc]]);
}    